#screen{
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    overflow:hidden;
}
#screen .content{
    width: 94%;
    height: 98%;
    position: absolute;
    overflow: hidden;
    margin-left: 3%;
    margin-top: 1%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #FFF;
    /*-moz-box-shadow: 1px 1px 5px 0px #656565;
    -webkit-box-shadow: 1px 1px 5px 0px #656565;
    -o-box-shadow: 1px 1px 5px 0px #656565;
    box-shadow: 1px 1px 5px 0px #656565;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=5);*/
}
.navigationLocker{
    z-index: 999999;
    width:100%;
    height:100%;
    display:none;
    position: absolute;
    left:0;
    right:0;
}
.header{
    width:100%;
    height:50px;
    display:table;
    position:relative;
    float:left;
    border-bottom:1px solid #E3E3E3;
    -webkit-border-radius: 5px;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius: 5px;
    -moz-border-radius-bottomleft: 0;
    border-radius: 5px;
    border-bottom-left-radius: 0;
}
.header .buttonLeft{
    width: 40px;
    height: 40px;
    left: 5px;
    top: 5px;
    position: absolute;
    line-height: 27px;
    text-align: center;
    font-family: Flaticon;
    font-size: 50px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-weight: 200;
}
.header .buttonRight{
    width:40px;
    height:40px;
    right:5px;
    top:5px;
    position:absolute;
    line-height: 27px;
    text-align: center;
    font-family: Flaticon;
    font-size:50px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-weight: 200;
}
.header .pageTitle{
    text-align: center;
    font-size:15px;
    color:#333;
    font-weight: 600;
    line-height: 50px;
}

.wrapper{
    width:100%;
    height:100%;
    overflow: hidden;
    position:relative;
    float:left;
}
.scroller{
    width:100%;
    height:101%;
    display:table;
    position:absolute;
}

.grey{
    background-color:#333;
    color:#FFF;
}
.grey .dark{
    color:#000;
}
.greya .dark{
    color:#000;
}
.greya{
    background-color:#333;
    color:#FFF;
}
.greya:active{
    background-color:#000;
    color:#FFF;
}

.white{
    background-color:#fff;
    color:#333;
    font-weight: bold;
}
.white .dark{
    color:#000;
}
.whitea .dark{
    color:#000;
}
.whitea{
    background-color:#FFF;
    color:#333;
}
.whitea:active{
    background-color:#F9F9F9;
    color:#333;
}

.green{
    background-color:#4dad32 ;
    color:#FFF;
    font-weight: bold;
}
.green .dark{
    color:#377c21;
}
.greena .dark{
    color:#377c21;
}
.greena{
    background-color:#4dad32;
    color:#fff;
}
.greena:active{
    background-color:#479b2c ;
    color:#fff;
}

.red{
    background-color:#e74620;
    color:#FFF;
    font-weight: bold;
}
.red .dark{
    color:#b73423;
}
.reda .dark{
    color:#b73423;
}
.reda{
    background-color:#e74620;
    color:#fff;
}
.reda:active{
    background-color:#d84023;
    color:#fff;
}